In [ ]:
import numpy as np
import pandas as pd

:

In [2]:
col = {"Customer","ServiceTime","AcruedServiceTime","ArrivalTime","InterArrivalTime","TimeServiceStarts","WaitingTime","TimeServiceEnds","TimeInSystem","IdleServerTime"}
df = pd.DataFrame(columns = col, index = range(0,1000))
#df.columns = book

In [3]:
df.columns

Index(['InterArrivalTime', 'ArrivalTime', 'AcruedServiceTime', 'TimeInSystem',
       'Customer', 'TimeServiceStarts', 'WaitingTime', 'TimeServiceEnds',
       'IdleServerTime', 'ServiceTime'],
      dtype='object')

In [5]:
#p = [0,8,6,1,8,3,8,7,2,3,3,1,5,6,3,8,1,2,4,3]inter arrival time (lcg)
#q = [4,1,4,3,2,4,5,4,5,3,3,5,4,1,5,4,3,3,2,3]service time (clcg)
d = range(0,1000)
p = np.array(d)
q = np.array(d)
x0 = int(input("Enter the value of x0:"))
m = int(input("Enter the value of m>0:"))
a = int(input("Enter the value of a<m:"))
c = int(input("Enter the value of c<m:"))
for i in range(1,1000):
    p[0] = x0
    q[0] = np.random.randint(0,50)
    p[i] = (a*p[i-1] + c)%m
    q[i] = (a*p[i-1] + c*q[i-1])%10

Enter the value of x0: 33
Enter the value of m>0: 45
Enter the value of a<m: 23
Enter the value of c<m: 11

In [6]:
p

array([33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3,
       35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20,
       21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36,
       29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14,
       18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,
        5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,
        6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21,
       44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,
        3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18,
       20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5,
       36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6,
       14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44,
       33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3,
       35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20,
       21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36,
       29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14,
       18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,
        5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,
        6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21,
       44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,
        3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18,
       20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5,
       36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6,
       14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44,
       33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3,
       35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20,
       21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36,
       29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14,
       18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,
        5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,
        6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21,
       44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,
        3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18,
       20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5,
       36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6,
       14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44,
       33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3,
       35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20,
       21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36,
       29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14,
       18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,
        5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,
        6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21,
       44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,
        3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18,
       20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5,
       36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6,
       14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44,
       33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3,
       35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20,
       21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36,
       29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14,
       18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,
        5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,
        6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21,
       44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,
        3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18,
       20, 21, 44, 33,  5, 36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5,
       36, 29,  3, 35,  6, 14, 18, 20, 21, 44, 33,  5, 36, 29])

In [7]:
q

array([6, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7,
       7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5,
       7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6,
       1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4,
       1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5,
       0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8,
       0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9,
       9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7,
       9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8,
       3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6,
       3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7,
       2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0,
       2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1,
       1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9,
       1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0,
       5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8,
       5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9,
       4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2,
       4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3,
       3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1,
       3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2,
       7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0,
       7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1,
       6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4,
       6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5,
       5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3,
       5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4,
       9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2,
       9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3,
       8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6,
       8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7,
       7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5,
       7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6,
       1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4,
       1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5,
       0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8,
       0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9,
       9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7,
       9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8,
       3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6,
       3, 2, 7, 5, 7, 1, 1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7,
       2, 0, 7, 6, 1, 9, 1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0,
       2, 1, 6, 4, 1, 0, 5, 3, 5, 9, 9, 2, 4, 3, 8, 6, 3, 2, 7, 5, 7, 1,
       1, 4, 6, 5, 0, 8, 5, 4, 9, 7, 9, 3, 3, 6, 8, 7, 2, 0, 7, 6, 1, 9,
       1, 5, 5, 8, 0, 9, 4, 2, 9, 8, 3, 1, 3, 7, 7, 0, 2, 1, 6, 4, 1, 0,
       5, 3, 5, 9, 9, 2, 4, 3, 8, 6])

In [10]:
for i in range(0,1000):
    df.Customer.loc[i] = i+1
    df.ServiceTime = q
    df.AcruedServiceTime.loc[0] = df.ServiceTime.loc[0]    
    if(i<999):
        df.AcruedServiceTime.loc[i+1] = df.AcruedServiceTime.loc[i] + df.ServiceTime.loc[i+1]
    df.InterArrivalTime.loc[i] = p[i]
    df.IdleServerTime.loc[0] = 0
    df.ArrivalTime.loc[0] = 0
    df.WaitingTime.loc[0] = 0
    df.TimeServiceEnds.loc[0] = df.ServiceTime.loc[0]
    if(i<999):
        df.ArrivalTime.loc[i+1] = df.ArrivalTime.loc[i] + df.InterArrivalTime.loc[i+1]
        df.WaitingTime.loc[i+1] = max(df.TimeServiceEnds.loc[i] - df.ArrivalTime.loc[i+1],0)
        df.TimeServiceEnds.loc[i+1] = df.ArrivalTime.loc[i+1] + df.WaitingTime.loc[i+1] + df.ServiceTime.loc[i+1]
        df.IdleServerTime.loc[i+1] = max(df.ArrivalTime.loc[i+1] - df.TimeServiceEnds.loc[i], 0)
    df.TimeInSystem.loc[i] = df.TimeServiceEnds.loc[i] - df.ArrivalTime[i]
    df.TimeServiceStarts.loc[0] = 0
    if(i<999):
        df.TimeServiceStarts.loc[i+1] = max(df.TimeServiceEnds.loc[i],df.ArrivalTime.loc[i+1])

/home/evans/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [11]:
df

,InterArrivalTime,ArrivalTime,AcruedServiceTime,TimeInSystem,Customer,TimeServiceStarts,WaitingTime,TimeServiceEnds,IdleServerTime,ServiceTime
0,33,0,6,6,1,0,0,6,0,6
1,5,5,13,8,2,6,1,13,0,7
2,36,41,15,2,3,41,0,43,28,2
3,29,70,15,0,4,70,0,70,27,0
4,3,73,22,7,5,73,0,80,3,7
...,...,...,...,...,...,...,...,...,...,...
995,44,21879,4557,2,996,21879,0,21881,35,2
996,33,21912,4561,4,997,21912,0,21916,31,4
997,5,21917,4564,3,998,21917,0,21920,1,3
998,36,21953,4572,8,999,21953,0,21961,33,8
999,29,21982,4578,6,1000,21982,0,21988,21,6

What is the average waiting time?

In [12]:
df.WaitingTime.mean()

0.244

What is the probability of waiting?

In [13]:
global count
count = 0
for i in df.WaitingTime:
    if i > 0:
        count += 1
count / 20

4.95

What is the total idle time of the server?

In [14]:
df.IdleServerTime.sum()

17410

What is the probability that a server will be idle?

In [15]:
global count
count = 0
for i in df.IdleServerTime:
    if i > 0:
        count +=1
count/20

44.15

What is the average service time?

In [16]:
df.ServiceTime.mean()

4.578

What is the average time between inter-arrivals?

In [17]:
df.InterArrivalTime.sum() / 1999 # There are only 19 times in between each pair of the 20 arrivals. 19 pairs.

11.013006503251626

What is the average time customer spends in the system?

In [18]:
df.TimeInSystem.mean()

4.822